<div id="profile">
    <div>
        <div layout="column" layout-align="center center" class="profil
        ">
            <form class="form-profil
            " name="formUpdate">
                <md-toolbar class="profil
                -bar md-accent">
                    <h2 class="md-toolbar-tools">
                        <span><img src="app/dist/img/favicon.png" width="27px">Mon profil</span>
                    </h2>
                </md-toolbar>
                <div class="profil
                -content">
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label><i class="fa fa-user"></i> Nom</label>
                            <input type="text" name="firstname" ng-model="user.firstname" ng-minlength="1" ng-maxlength="100" required/>
                            <div ng-messages="formUpdate.firstname.$error">
                                <div ng-message="required">Le nom est requis</div>
                                <div ng-message="minlength">Le nom est trop court</div>
                                <div ng-message="maxlength">Le nom est trop long</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label><i class="fa fa-user"></i> Prénom</label>
                            <input type="text" name="lastname"  ng-model="user.lastname" ng-minlength="1" ng-maxlength="100" required/>
                            <div ng-messages="formUpdate.lastname.$error">
                                <div ng-message="required">Le prénom est requis</div>
                                <div ng-message="minlength">Le prénom est trop court</div>
                                <div ng-message="maxlength">Le prénom est trop long</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label><i class="fa fa-envelope"></i> Email</label>
                            <input type="email" name="email" ng-model="user.email" ng-change="changeEmail()" required ng-model-options="{ updateOn: 'blur' }"/>
                            <div ng-messages="formUpdate.email.$error && formUpdate.email.$dirty">
                                <div ng-message="required">L'email est requis</div>
                                <div ng-message="emailValidation">Email déjà utilisé</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label><i class="fa fa-calendar"></i> Date de naissance</label>
                            <input type="date" name="date_naissance" ng-model="user.birthdate" date-to-timestamp>
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label><i class="fa fa-lock"></i> Mot de passe</label>
                            <input type="password" name="password" ng-model="user.password" ng-minlength="5" ng-maxlength="50">
                            <div ng-messages="formUpdate.password.$error">
                                <div ng-message="minlength">Le mot de passe est trop court</div>
                                <div ng-message="maxlength">Le mot de passe est trop long</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" layout-align="end center" class="profil
                -footer">
                    <md-button type="submit" ng-click="update()" class="md-accent md-raised margin-right"><i class="fa fa-check"></i> Mettre à jour</md-button>
                </div>
            </form>
        </div>
    </div>
</div>