<div id="profile">
    <div>
        <div layout="column" layout-align="center center" class="profile">
            <div class="header-profile">
                    <md-toolbar class="profile-bar md-accent">
                        <h2 class="md-toolbar-tools">
                            <span ><img src="app/dist/img/favicon.png" width="27px"> Mon profil</span>

                        </h2>
                    </md-toolbar>
                    <div class="profile-content">
                        <div layout layout-sm="row">
                            <div layout layout-sm="column">
                                <a href="https://fr.gravatar.com/" target="_blank"><img gravatar-src-once="user.email"></a>
                            </div>
                            <div flex layout layout-sm="column">
                                <div  class="info-profile">
                                    <i class="fa fa-user"></i> {{user.firstname}} <br />
                                    <i class="fa fa-user"></i> {{user.lastname}} <br />
                                    <i class="fa fa-user"></i> {{user.pseudo}} <br />
                                    <i class="fa fa-envelope"></i> {{user.email}} <br />
                                    <i class="fa fa-calendar"></i> {{user.birthdate | date:'MM/dd/yyyy'}} <br />
                                    <div ng-if="user.isfemale">
                                        <i class="fa fa-female"></i> Femme
                                    </div>
                                    <div ng-if="!user.isfemale">
                                        <i class="fa fa-male"></i> homme
                                    </div>
                                </div>
                            </div>
                            <div layout="row" layout-align="end end" class="updateProfile">
                                <md-button class="md-fab" aria-label="Eat cake" ng-href="/updateprofile" md-component-id="right">
                                    <md-icon md-font-icon="fa fa-pencil-square-o" ng-style="{'font-size':'32px'}"></md-icon>
                                </md-button>
                                <md-button class="md-fab" aria-label="Eat cake" ng-href="/updatepassword" md-component-id="right">
                                    <md-icon md-font-icon="fa fa-key" ng-style="{'font-size':'32px'}"></md-icon>
                                </md-button>
                            </div>
                        </div>
                    </div>
            </div>

        </div>
    </div>
</div>