<span ng-if="type == 'forSideBar'">
    <span  ng-show="userConnected">
        <div class="colored"></div>
        <div class="panel-header">
            <h1>{{pseudo}}</h1>
        </div>
        <div class="clear"></div>
        <div class="panel-footer">
            <img src="app/dist/img/user.png"/>
            <md-button class="logout md-warn md-raised" ng-click="logOut()" href="#"><i class="fa fa-sign-out"></i> Déconnexion</md-button>
        </div>
    </span>
    <span ng-hide="userConnected">
        <h1 class="md-toolbar-tools">Menu</h1>
    </span>
</span>
<span ng-if="type == 'forHeaderBar'">
    <div ng-show="userConnected" class="navbar-header">
        <img src="app/dist/img/user.png"/>
        <h1>{{pseudo}}</h1>
    </div>
    <div ng-hide="userConnected">
        <md-button class="md-warn btn-size" href="login"><i class="fa fa-user"></i> Connexion</md-button>
        <md-button class="md-accent btn-size" href="register"><i class="fa fa-user-plus"></i> Inscription</md-button>
    </div>
</span>
