<div id="liztubeVideos">
    <md-content layout="row" layout-wrap class="videosList">
        <div flex="20" ng-repeat="video in videos">
            <img src="/api/video/thumbnail/{{video.key}}" alt="" />
            <h2>
                {{video.title | limitTo:29}}
                <span ng-if="video.title.length > 29">...</span>
            </h2>
            <p>de
                <span>
                    {{video.ownerPseudo | limitTo:35}}
                    <span ng-if="video.ownerPseudo.length > 35">...</span>
                    <span ng-show="video.public" class="public">
                        <i class="fa fa-check-circle"></i>
                    </span>
                    <span ng-show="video.publicLink" class="link">
                        <i class="fa fa-link"></i>
                    </span>
                    <span ng-hide="video.public" class="private">
                        <i class="fa fa-ban"></i>
                    </span>
                </span>
            </p>
            <span class="view">{{video.views}} vue(s) . {{video.creationDate | date:'yyyy/MM/dd'}}</span>
        </div>
    </md-content>
</div>