#header{
  .logo{
    height: 50px;
    margin-right: 1%;
  }

  .header-padding-input{
    /*padding-bottom: 15px;*/
  }

  .btn-size{
    padding: 10px;
  }
  .fa-font-size{
    font-size: 1.2em;
  }
}